.home {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 60px 1fr 374px;
  overflow: hidden;
  margin: 58px auto 50px;
  position: relative;

  @media screen and(max-width: 990px) {
    grid-template-columns: 60px 1fr;
    margin: 58px 20px 50px
  }

  @media screen and(max-width: 590px) {
    grid-template-columns: 1fr;
    margin: 58px 8px 50px;
  }

  .main {
    .home-header {
      margin: 0 auto 12px;
      text-align: center;
      
      .connection-form {
        // background: $color-4;
        border-radius: 20px;
        margin-top:5% ;
        margin-left: 15%;
        padding: 20px;
        margin-top: 20%;
        padding-bottom: 10%;
        justify-content: center;
        // background-color: $color-4;
	      border-radius: 10px;
  	    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			      0 10px 10px rgba(0,0,0,0.22);
	      position: relative;
	      overflow: hidden;
	      width: 768px;
	      max-width: 100%;
	      min-height: 480px;

        ul {
          display: flex;
          justify-content: center;
          margin-bottom: 18px;

          li {
            cursor: pointer;
            border-radius: 20px;
            padding: 12px 14px;
            transition: .2s;
            margin: 0 8px;
          }
          .active-btn {
            background: $color-1;
  
            &:hover {
              background: $color-2;
              color: white;
            }
          }
          li:not(.active-btn) {
            &:hover {
              transform: translateX(3px)
            }
          }
        }
        form {
          input {
            padding: 10px 14px;
            margin: 0;
            font-size: 1.2rem;
            font-family: $font-2;
            border-radius: 20px;
            box-shadow: #094b65;
            background-color:$color-1;


	/* background-repeat: no-repeat; */
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
            &:focus {
              box-shadow: 0 0 3px rgba(51, 51, 51, 0.2);
            }
          }
          input[type=submit] {
            padding: 14px 14px;
            border-radius: 20px;
            background: #094b65;

          }
        }
      }
    }
  }
  .right-side {
    position: relative;
    width: 100%;
    margin: 0px 0 0 14px;

    @media screen and(max-width: 990px) {
      display: none;
    }
  
    .right-side-container {
      position: fixed;
    
    }
  }
}
